:root {
  --background-light: rgb(236, 229, 220);
  --background-dark: rgb(20, 20, 20);

  --gradient-color-1: rgb(178, 94, 82);
  --gradient-color-2: rgb(56, 33, 46);
  --gradient-color-3: rgb(42, 37, 51);
  --gradient-color-4: rgb(17, 30, 41);

  --f1: rgb(209, 72, 54);
  --f2: rgb(152, 118, 84);

  --card-color: rgb(25, 25, 25);

  /* --dark: rgb(20, 20, 20);
  --yellow: rgb(253, 216, 53);
  --blue: rgb(98, 0, 234);
  
  --c1: rgb(38, 70, 83);
  --c2: rgb(42, 157, 143);
  
  --left-color: var(--c1);
  --right-color: var(--c2); */
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}

@keyframes arc-rotation {
  from {
    transform: translate3d(-50%, -50%, 0px) rotate(0deg);
  }

  to {
    transform: translate3d(-50%, -50%, 0px) rotate(360deg);
  }
}

body {
  background-color: var(--background-light);
  margin: 0px;
  overflow: hidden;
  padding: 0px;
  transition: background-color 600ms;
}

#blob {
  background-color: white;
  height: 34vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 20s infinite;
  opacity: 0.8;
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur(12vmax);
}

body.menu-toggled {
  background-color: var(--background-dark);
}

body.menu-toggled > #menu {
  pointer-events: all;
}

body.menu-toggled > #menu > #menu-toggle > span:first-of-type {
  transform: translate3d(0px, 8px, 0px) rotate(45deg);
}

body.menu-toggled > #menu > #menu-toggle > span:nth-of-type(2) {
  opacity: 0;
  transform: translate3d(-5px, 0px, 0px);
}

body.menu-toggled > #menu > #menu-toggle > span:nth-of-type(3) {
  transform: translate3d(0px, -8px, 0px) rotate(-45deg);
}

body.menu-toggled > #menu > #menu-toggle > #menu-toggle-label > .word {
  opacity: 0;
  transform: translate3d(-30%, 0px, 0px) skew(20deg) scaleX(1.2);
  transition: opacity 250ms cubic-bezier(0.71, 0.19, 0.87, 0.33),
    transform 250ms cubic-bezier(0.71, 0.19, 0.87, 0.33);
}

body.menu-toggled
  > #menu
  > #menu-toggle
  > #menu-toggle-label
  > .word:nth-of-type(2) {
  transition-delay: 100ms;
}

body.menu-toggled > #menu > #menu-gradient {
  height: 200vmax;
  opacity: 1;
  transform: translate3d(-50%, -50%, 0px);
  transition: height 600ms cubic-bezier(0.58, 0.2, 0.62, 0.93),
    width 600ms cubic-bezier(0.58, 0.2, 0.62, 0.93),
    transform 600ms cubic-bezier(0.58, 0.2, 0.62, 0.93), opacity 400ms;
  width: 200vmax;
}

body.menu-toggled > #menu > #menu-gradient-blur {
  opacity: 1;
}

body.menu-toggled > #menu > #menu-arcs-wrapper {
  opacity: 1;
  transform: scale(1);
  transition: transform 600ms cubic-bezier(0.16, 0.68, 0.25, 0.83),
    opacity 600ms cubic-bezier(0.87, 0.12, 0.92, 0.39);
}

body.menu-toggled > #menu > #menu-links > .link {
  opacity: 1;
  transform: none;
  transition: opacity 600ms ease-in;
}

body.menu-toggled > #menu > #menu-links > .link:nth-of-type(2) {
  transition-delay: 100ms;
}

body.menu-toggled > #menu > #menu-links > .link:nth-of-type(3) {
  transition-delay: 150ms;
}

body.menu-toggled > #menu > #menu-links > .link:nth-of-type(4) {
  transition-delay: 200ms;
}

body.menu-toggled > #content > #menu-arcs-wrapper {
  opacity: 0;
  transform: scale(1.15) translate3d(20%, 20%, 0px);
  transition: transform 600ms cubic-bezier(0.87, 0.12, 0.92, 0.39),
    opacity 600ms cubic-bezier(0.87, 0.12, 0.92, 0.39);
}

#menu {
  height: 100vh;
  left: 0px;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 100;
}

#menu > #menu-toggle {
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 50px;
  justify-content: center;
  left: 30px;
  padding: 0px;
  pointer-events: all;
  position: absolute;
  top: 30px;
  width: 50px;
  z-index: 5;
}

#menu > #menu-toggle:hover > span:nth-of-type(2),
#menu > #menu-toggle:hover > span:nth-of-type(3) {
  transform: translate3d(0px, 0px, 0px);
}

#menu > #menu-toggle > span {
  background-color: var(--background-dark);
  display: block;
  height: 3px;
  transition: transform 250ms;
  width: 24px;
}

#menu > #menu-toggle > span:nth-of-type(2) {
  transform: translate3d(5px, 0px, 0px);
}

#menu > #menu-toggle > span:nth-of-type(3) {
  transform: translate3d(-2px, 0px, 0px);
}

#menu > #menu-toggle > #menu-toggle-label {
  align-items: center;
  display: flex;
  height: 50px;
  gap: 5px;
  position: absolute;
  right: -20px;
  top: 0px;
  transform: translate3d(100%, 0px, 0px);
  white-space: nowrap;
}

#menu > #menu-toggle > #menu-toggle-label > .word {
  font-family: "Audiowide", cursive;
  font-size: 1.5em;
  transition: opacity 250ms, transform 250ms;
}

#menu > #resume-button {
  align-items: center;
  background: linear-gradient(to right, transparent, white);
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 5px;
  height: 50px;
  justify-content: space-evenly;
  right: 30px;
  padding: 0px;
  pointer-events: all;
  position: absolute;
  top: 30px;
  width: 150px;
  z-index: 5;
}

#menu > #resume-button > .word {
  font-family: "Audiowide", cursive;
  font-size: 1.5em;
  transition: opacity 250ms, transform 250ms;
}

#menu > #resume-button > i {
  color: var(--f1);
  opacity: 0.5;
  font-size: 1.5em;
}

#menu > #resume-button:hover > i {
  opacity: 1;
  animation: rotate 2s infinite;
}

#menu > #menu-gradient {
  background: radial-gradient(
    var(--background-light) 12%,
    var(--gradient-color-1) 13%,
    var(--gradient-color-2) 15%,
    var(--gradient-color-3) 60%,
    var(--gradient-color-4) 90%
  );
  height: 300vmax;
  left: 0px;
  opacity: 0;
  position: absolute;
  transform: translate3d(-50%, -50%, 0px) scale(4);
  transition: height 600ms cubic-bezier(0.75, 0.1, 0.89, 0.36),
    width 600ms cubic-bezier(0.75, 0.1, 0.89, 0.36),
    transform 600ms cubic-bezier(0.75, 0.1, 0.89, 0.36),
    opacity 700ms cubic-bezier(0.9, 0.02, 0.97, 0.28);
  top: 0px;
  width: 300vmax;
  z-index: 1;
}

#menu > #menu-gradient-blur {
  backdrop-filter: blur(1vmax);
  inset: 0px;
  opacity: 0;
  position: absolute;
  transition: opacity 600ms cubic-bezier(0.87, 0.12, 0.92, 0.39);
  z-index: 2;
}

#menu > #menu-arcs-wrapper {
  height: clamp(600px, 200vmax, 6000px);
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: scale(1.15) translate3d(20%, 20%, 0px);
  transition: transform 600ms cubic-bezier(0.87, 0.12, 0.92, 0.39),
    opacity 600ms cubic-bezier(0.87, 0.12, 0.92, 0.39);
  width: clamp(600px, 200vmax, 6000px);
  z-index: 3;
}

#menu > #menu-arcs-wrapper > #menu-arcs {
  animation: arc-rotation 100s linear infinite;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  will-change: transform;
}

#menu > #menu-arcs-wrapper > #menu-arcs > .menu-arc {
  fill: none;
  stroke: rgba(255, 255, 255, 0.5);
  stroke-dasharray: 2, 10;
  stroke-width: 1;
}

#menu > #menu-links {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  inset: 0px;
  justify-content: center;
  position: absolute;
  z-index: 4;
}

#menu > #menu-links > .link {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-family: "Rubik", sans-serif;
  gap: 10px;
  opacity: 0;
  position: relative;
  text-decoration: none;
  transition: opacity 250ms ease-in;
  width: 200px;
}

#menu > #menu-links > .link:hover > .label {
  transform: translate3d(6%, 0px, 0px);
}

#menu > #menu-links > .link:hover > .index {
  transform: translate3d(20%, 0px, 0px);
}

#menu > #menu-links > .link:hover > .anchor:before {
  opacity: 0.15;
  transform: translate3d(-50%, -50%, 0px) scale(1.5);
}

#menu > #menu-links > .link:hover > .anchor:after {
  border-color: red;
  transform: translate3d(-50%, -50%, 0px) scale(1.1);
}

#menu > #menu-links > .link > .anchor {
  background-color: white;
  height: clamp(4px, 0.4vmax, 12px);
  left: 0px;
  position: absolute;
  top: 50%;
  transform: translate3d(-500%, -100%, 0px) rotate(45deg);
  transition: transform 250ms;
  width: clamp(4px, 0.4vmax, 12px);
}

#menu > #menu-links > .link > .anchor:before,
#menu > #menu-links > .link > .anchor:after {
  content: "";
  height: 300%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0px);
  transition: transform 250ms, border-color 250ms;
  width: 300%;
}

#menu > #menu-links > .link > .anchor:before {
  border: 1px solid red;
  opacity: 0;
}

#menu > #menu-links > .link > .anchor:after {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

#menu > #menu-links > .link > .index {
  color: rgb(255, 255, 255, 0.25);
  font-size: 0.8em;
  transition: transform 250ms;
}

#menu > #menu-links > .link > .label {
  color: white;
  font-size: 2em;
  transition: transform 250ms;
}

#content {
  display: flex;
  gap: 2em;
  top: 80px;
  left: 0px;
  position: absolute;
  height: 100vh;
  width: 100vw;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#content > i {
  color: rgb(30, 30, 30);
  font-size: clamp(4em, 8vmax, 8em);
  text-align: center;
  z-index: 5;
}

#content > .fa-plus {
  font-size: clamp(2em, 4vmax, 4em);
}

#content > #menu-arcs-wrapper {
  height: clamp(600px, 200vmax, 6000px);
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  transform: scale(1);
  transition: transform 600ms cubic-bezier(0.16, 0.68, 0.25, 0.83),
    opacity 600ms cubic-bezier(0.87, 0.12, 0.92, 0.39);
  width: clamp(600px, 200vmax, 6000px);
  z-index: 4;
}

#content > #menu-arcs-wrapper > #menu-arcs {
  animation: arc-rotation 100s linear infinite;
  height: 100%;
  left: 0vw;
  position: absolute;
  top: 50vh;
  width: 100%;
  will-change: transform;
}

#content > #menu-arcs-wrapper > #menu-arcs > .menu-arc {
  fill: none;
  stroke: rgba(0, 0, 0, 0.5);
  stroke-dasharray: 2, 10;
  stroke-width: 1;
}

#content > #cards {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1000px;
  padding: 0rem clamp(1rem, 2vw, 3rem);
  place-self: center;
  position: relative;
  width: calc(100% - 2em);
  z-index: 5;
}

#content > #cards > .card {
  background: linear-gradient(to right, transparent, white);
  border-radius: 0.75em;
  cursor: pointer;
  height: 200px;
  position: relative;
}

#content > #cards > .card:hover:before {
  opacity: 1;
}

#content > #cards > .card:before {
  background: linear-gradient(
    45deg,
    transparent 5%,
    var(--f1) 50%,
    transparent 99%
  );
  border-radius: inherit;
  content: "";
  inset: 0px;
  opacity: 0;
  position: absolute;
  transition: opacity 400ms;
  z-index: 0;
}

#content > #cards > .card > .card-content {
  background: linear-gradient(to right, transparent, white);
  border-radius: inherit;
  display: grid;
  inset: 3px;
  padding: 1em;
  position: absolute;
  align-items: center;
}

#content > #cards > .card > .card-content > .fa-brands {
  font-size: clamp(2em, 4vmax, 4em);
}

#content > #cards > .card > .card-content > .fa-solid {
  font-size: clamp(2em, 4vmax, 4em);
}

#content > #cards > .card > .card-content > i {
  color: black;
  font-size: clamp(1em, 4vmax, 3em);
}

#content > #cards > .card > .card-content > j {
  color: black;
  font-size: clamp(0.5em, 4vmax, 3em);
  display: none;
  overflow-wrap: anywhere;
}

#content > #cards > .card > .card-content > .card-icon {
  color: rgba(209, 72, 54, 1);
  font-size: 6em;
  opacity: 0.4;
  place-self: center;
  transition: transform 250ms, opacity 250ms;
}

#content > #cards > .card:hover > .card-content > i {
  display: none;
}

#content > #cards > .card:hover > .card-content > j {
  display: block;
}

#content > #cards > .card:hover > .card-content > .card-icon {
  opacity: 1;
  transform: scale(1.1) translateY(-5%);
}

fancy1 {
  font-family: "Space Mono", monospace;
  font-size: clamp(3rem, 10vw, 10rem);
  color: var(--f1);
  padding: 0rem clamp(1rem, 2vw, 3rem);
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
}

@media (max-width: 600px) and (min-height: 900px) {
  #content {
    flex-direction: column;
    justify-content: flex-start;
  }

  #content > #cards {
    grid-template-columns: 1fr;
  }

  #content > #cards > .card {
    height: 100px;
  }

  #content > #cards > .card > .card-content > .card-icon {
    font-size: 3em;
  }
}

@media (max-width: 600px) {
  #content {
    flex-direction: column;
    justify-content: flex-start;
  }

  #content > #cards {
    grid-template-columns: 1fr;
  }

  #content > #cards > .card {
    height: 100px;
  }

  #content > #cards > .card > .card-content > .card-icon {
    font-size: 3em;
  }
}

@media (max-width: 600px) and (max-height: 900px) {
  #content {
    flex-direction: column;
    justify-content: flex-start;
  }

  #content > #cards {
    grid-template-columns: 1fr;
  }

  #content > #cards > .card {
    height: 60px;
  }

  #content > #cards > .card > .card-content {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    padding: 0.5em;
  }

  #content > #cards > .card > .card-content > .card-icon {
    font-size: 2em;
  }
}

@media (min-width: 1000px) and (max-width: 2699px) {
  body.menu-toggled > #menu > #menu-links > .link {
    transition: transform 400ms cubic-bezier(0.16, 0.68, 0.25, 0.83),
      opacity 500ms cubic-bezier(0.87, 0.12, 0.92, 0.39);
  }

  #menu > #menu-gradient {
    transform: translate3d(-50%, -50%, 0px) scale(8);
  }

  #menu > #menu-links > .link {
    position: absolute;
    transform: translate3d(300%, 800%, 0px) scale(1.25);
    transition: transform 500ms cubic-bezier(0.62, 0.16, 0.86, 0.45),
      opacity 400ms cubic-bezier(0.16, 0.68, 0.25, 0.83);
  }

  #menu > #menu-links > .link > .anchor {
    top: 0%;
    transform: translate3d(-350%, -100%, 0px) rotate(45deg);
  }

  #menu > #menu-links > .link:first-of-type {
    left: 29.8vmax;
    top: 22vmax;
  }
}

@media (min-width: 1000px) and (max-width: 2099px) {
  #menu > #menu-links > .link:nth-of-type(2) {
    left: 59.2vmax;
    top: 16vmax;
  }

  #menu > #menu-links > .link:nth-of-type(3) {
    left: 44.5vmax;
    top: 42vmax;
  }

  #menu > #menu-links > .link:nth-of-type(4) {
    left: 75.8vmax;
    top: 39vmax;
  }
}

@media (min-width: 2100px) and (max-width: 2699px) {
  #menu > #menu-links > .link:nth-of-type(2) {
    left: 59.6vmax;
    top: 14vmax;
  }

  #menu > #menu-links > .link:nth-of-type(3) {
    left: 51vmax;
    top: 34vmax;
  }

  #menu > #menu-links > .link:nth-of-type(4) {
    left: 80.5vmax;
    top: 28vmax;
  }
}
